.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border: 1px solid #444444;
    width: 30%;
    margin: auto;
    padding: 40px;
    margin-top: 50px;
    min-width: 400px;
    border-radius: 16px;
    color: #ffffff;
}

.register-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-title {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.register-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.register-container input {
    width: 100%;
    /* width: 90px; */
    padding: 10px;
    /* padding-inline: 0; */
    margin-bottom: 10px;
    border: 1px solid #444444;
    border-radius: 8px;
    background-color: #121212;
    color: #ffffff;
}

.register-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444444;
    border-radius: 8px;
    background-color: #121212;
    color: #ffffff;
}

.register-container button {
    /* width: 280px; */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: #c33354;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.register-error {
    color: lightcoral;
    min-height: 16px;
    margin: 0;
}

.register-not-error {
    visibility: hidden;
    margin: 0;
}

.register-success {
    color: lightgreen;
    min-height: 16px;
    margin: 0;
}

.register-not-success {
    visibility: hidden;
    margin: 0;
}

.register-container a {
    color: #c33354;
}